*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    overflow-x: hidden;
}

#header{
    padding: 1.6em;
    background-color: white;
}

#header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footasylum-header-logo{
    height: 3.1em;
}

#header-links{
    list-style: none;
    display: flex;
    font-size: 0.9em;
}

#header-links li a{
    margin: 0 1.2em;
    text-decoration: none;
    color: black;
}

#header-links li:hover{
    text-decoration: underline;
}

#search-section{
    display: flex;
    width: 21.25em;
}

#search-box{
    height: 3em;
    font-size: 1.2em;
    padding: 0 0.6em;
    margin-right: 1.2em;
}

#search-btn{
    visibility: collapse;
    height: 3em;
    width: 0px;
    font-size: 0px;
}

#view-basket{
    display: flex;
    width: 6.25em;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}

#view-basket:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header-icon{
    font-size: 1.37em;
}

.search-button-show{
    animation-name: search-button-show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.search-button-hide{
    animation-name: search-button-hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 1.2em 0;
}

#nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    font-size: 0.9em;
}

.link{
    padding: 1em;
    color: white;
    text-decoration: none;
}

.link:hover{
    border-bottom: 0.31em solid white;
}

#just-landed{
    color: green;
}

#sale{
    color: red;
    font-weight: bold;
}

#outlet{
    color: greenyellow;
}

#just-landed-dropdown, #sale-dropdown, #outlet-dropdown, #men-dropdown, #women-dropdown, #kids-dropdown{
    display: none;
    background-color: #ebebeb;
    height: 0em;
    visibility: collapse;
    position: relative;
    bottom: 2.5em;
}

.dropdown-show{
    animation-name: dropdown-show;
    animation-duration: 0.1ms;
    animation-fill-mode: forwards;
}
.dropdown-hide{
    animation-name: dropdown-hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#just-landed-sections, #sale-sections, #outlet-sections, #men-sections, #women-sections, #kids-sections{
    display: flex;
    justify-content: space-between;
    width: 87.5em;
    padding: 1.6em;
    visibility: collapse;
}

#brands-dropdown{
    position: relative;
    bottom: 2.5em;
    visibility: collapse;
    display: none;
}

#brands-sections{
    display: none;
    visibility: collapse;
}

#brands-section-one{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 31.25em;
    width: 31.25em;
    padding: 0 5em;
}

#brands-section-two{
    width: 100%;
    background-color: #ebebeb;
}

.dropdown-links, .dropdown-links a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.dropdown-links li{
    padding: 0.12em 0;
    font-size: 0.87em;
}

.dropdown-links li:hover{
    text-decoration: underline;
}

.dropdown-link-title{
    margin-bottom: 0.9em;
    font-weight: bolder;
}

.dropdown-view-all{
    margin-top: 0.9em;
    font-weight: bolder;   
}

#just-landed-img, #sale-img, #outlet-img, #men-img, #women-img, #kids-img{
    margin: 1.2em;
    visibility: collapse;
}

#just-landed-image, #outlet-image, #men-image, #women-image, #kids-image{
    height: 28.12em;
}

.shop-now-btn{
    position: relative;
    bottom: 4.37em;
    margin-left: 1.2em;
    width: 9.37em;
    height: 3.1em;
    font-size: 1.2em;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0.7);
}

.shop-now-btn:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#sale-img-section{
    height: 28.12em;
    width: 19.37em;
    background-color: greenyellow;
}

#sale-img-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-text{
    width: fit-content;
    margin: 0.62em 0;
    padding: 0.62em ;
    background-color: black;
    color: white;
}

#sale-title{
    margin-top: 6.25em;
}

#sale-heading{
    font-size: 2.37em;
}

.row{
    display: flex;
    width: fit-content;
    justify-content: space-between;
}


#alphabet h1{
    margin: 1.87em 0;
}

.alphabet-btn{
    padding: 0.31em;
    width: 2.5em;
    font-size: 1.12em;
    background-color: white;
    border: 0.06em solid silver;
}

.alphabet-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.brands-list{
    display: flex;
    justify-content: space-between;
    width: 18.75em;
    margin-top: 1.87em;
}

.brands-text, .brands-text a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.brands-text li{
    margin: 0.62em 0;
}

#brands-logo-slider{
    display: flex;
    width: 43.75em;
    overflow-x: scroll;
    margin: 5em;
    scroll-behavior: smooth;
}

#brands-logo-slider div{
    margin: 0.62em;
}

.brands-logo-title{
    text-align: center;
    font-weight: bolder;
}

.brand-slider-img{
    height: 7.62em;
    width: 7.62em;
    border: 0.31em solid transparent;
}

.brand-slider-img:hover{
    border: 0.31em solid red;
    cursor: pointer;
    transition: 0.5s;
}

#brands-logo-scroller{
    float: right;
    margin-right: 7.81em;
}
.scroller-btn{
    font-size: 2.5em;
    padding: 0.62em;
    margin: 0 0.31em;
    border: none;
}

.scroller-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#all-brands-btn{
    padding: 0.31em;
    font-size: 1.2em;
    margin: 1.2em 0 0 18.75em;
    background-color: black;
    color: white;
    border: none;
}

#all-brands-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

#sub-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.87em;
    padding: 1.2em 5.62em;
    font-size: 0.9em;
    background-color: silver;
}

#sub-nav div:hover{
    cursor: pointer;
}

#sub-nav span{
    font-weight: bolder;
}

#cards-section{
    display: flex;
    justify-content: space-between;
    margin: 1.56em;
    text-align: center;
}

.cards:hover{
    cursor: pointer;
    text-decoration: underline;
}

#discount-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
}

#discount-text{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 0.62em 1.2em;
    margin: 1.2em 0;
    font-size: 1.56em;
}

#discount-text span{
    font-weight: boldest;
}

#discount-section p{
    margin-bottom: 1.2em;
    font-size: 1.2em;
}

#banner-section{
    margin: 1.2em 0;
}

#banner-slider{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.banner-arrows{
    display: flex;
    justify-content: space-between;
    font-size: 3.1em;
    position: relative;
    top: 250px;
}

.banner-arrows i, .categories-arrows i{
    margin: 0 0.62em;
    padding: 0.31em 1.2em;
    border-radius: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0, 0.5);
}

.banner-arrows i:hover, .categories-arrows i:hover{
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0, 0.8);
    transition: all 0.5s;
    cursor: pointer;
}

.banner-btn{
    padding: 0.62em;
    font-size: 1.12em;
    position: relative;
    left: 39.06em;
    bottom: 3.75em;
    border: none;
    background-color: rgb(0, 0, 0, 0.5);
    color: greenyellow;
}

.banner-btn:hover, #back-to-school-btn:hover{
    background-color: rgb(173, 255, 47);
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.banner-img{
    height: 25em;
    width: 85em;
}

#back-to-school-section{
    display: flex;
}

.back-to-school-banner-images{
    display: flex;
}

.back-to-school-banner-images img{
    margin: 0 0.31em;
    width: 50%;
    height: 90%;
}

#back-to-school-logo{
    width: 15em;
    text-align: center;
}

#back-to-school-logo img{
    width: 90%;
}

#back-to-school-btn{
    padding: 0.62em;
    font-size: 1.12em;
    border: none;
    background-color: rgb(0, 0, 0, 0.5);
    color: greenyellow;
}

#latest-section{
    display: flex;
    flex-direction: column;
    padding: 3.1em 0;
}

#latest-title{
    display: flex;
    justify-content: space-between;
    padding: 0 0.62em;
}

#latest-title-text h1{
    font-size: 1.87em;
    text-transform: uppercase;
    margin-bottom: 0.62em;    
}

#latest-unidays{
    padding: 0.31em;
    height: 2.5em;
    background-color: lightgreen;
    font-size: 0.9em;
}

#latest-unidays span{
    font-size: 1.56em;
}

#latest-images{
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0;
}


.latest-cards{
    background: linear-gradient(rgb(59, 57, 57), silver);
    margin: 0 0.31em;
    color: rgb(255, 255, 255, 0.7);
}

.latest-cards:hover{
    color: rgb(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.5s;
}

.latest-cards-title{
    margin: 0.9em;
    font-size: 1.87em;
}

.latest-cards p{
    margin: 0.9em;
    font-weight: bold;
    font-size: 1.2em;
}

.latest-cards img{
    height: 12.5em;
    margin: 3.75em 0;
}

.latest-cards-btn{
    padding: 0.62em 7.33em;
    border: none;
    font-size: 1.12em;
    background-color: rgb(0, 0, 0, 0.2);
    color: rgb(173, 255, 47);
}

#categories-header{
    display: flex;
    margin: 0 0.62em;
}

#categories-title h1, #just-landed-shop-title h1{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.categories-btn, .just-landed-categories-btn{
    width: 9.37em;
    padding: 1.2em;
    margin: 0 0.62em;
    font-size: 0.9em;
    border: none;
    background-color: #ebebeb;
}

#mens-categories-btn{
    background-color: black;
    color: white;
}

.categories-btn:hover, .just-landed-categories-btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

#categories-chooser{
    width: 37.5em;
    display: flex;
    justify-content: space-evenly;
}


#mens-categories-cards, #womens-categories-cards, #kids-categories-cards, #mens-just-landed-cards, #womens-just-landed-cards, #kids-just-landed-cards{
    display: flex;
    height: 550px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.categories-slider-cards{
    margin: 0 0.31em;
}

.categories-slider-cards:hover{
    cursor: pointer;
}

.categories-slider-cards img{
    height: 28.12em;
}

.categories-slider-cards p{
    padding: 0 0.62em;
    font-size: 1.87em;
    font-weight: bold;
    position: relative;
    bottom: 2.40em;
    background-color: rgb(255, 255, 255, 0.3);
    color: rgb(0, 0, 0, 0.7);
}

.categories-cards-title{
    padding: 0 0.62em;
    font-size: 1.87em;
    position: relative;
    top: 2.31em;
    background-color: rgb(255, 255, 255, 0.3);
    color: rgb(0, 0, 0, 0.7);
}

.categories-arrows{
    display: flex;
    justify-content: space-between;
    font-size: 3.1em;
    position: relative;
    top: 300px;
}

#just-landed-shop-title{
    text-align: center;
    margin: 1.87em 0;
}

#just-landed-categories-chooser{
    display: flex;
    justify-content: center;
    margin-top: 1.87em; 
}

.just-landed-arrows{
    display: flex;
    justify-content: space-between;
    padding: 0 1.25em;
    font-size: 3.1em;
    position: relative;
    top: 220px;
}

.fa-angle-left:hover, .fa-angle-right:hover{
    animation-name: arrow-hover;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.just-landed-slider-cards{
    margin: 0 0.62em;    
}

.just-landed-slider-cards img{
    height: 20.93em;
    width: 15.62em;
}

.product-title{
    margin: 0.62em 0;
    font-weight: 600;
    color: gray;
}

.product-desc{
    color: gray;
}

#shop-by-brand{
    background-color: black;
    color: white;
    padding: 0.9em 0;
}

#shop-by-brand-header{
    display: flex;
    justify-content: space-between;
    padding: 0.62em 1.25em;
}

#shop-by-brand-list{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
}

#shop-by-brand-list img{
    height: 10.62em;
}

#shop-by-brand-list img:hover{
    cursor: pointer;
}

#trending-header{
    margin: 1.87em 0.62em;
}

#trending-banner img{
    height: 36.87em;
    margin: 0 0.62em;
}

#trending-banner{
    display: flex;
    justify-content: space-between;
}

.trending-images button{
    float: right;
    margin: 0 1.25em;
}

#lowdown-header{
    text-align: center;
}

#lowdown-header p{
    margin: 1.25em 0;
    color: grey;
}

#lowdown-articles{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.lowdown-blog{
    margin: 0 0.43em;
    background-color: #dfdfdf;
}

.lowdown-blog:hover{
    cursor: pointer;
}

.lowdown-blog img, .info-blog img{
    width: 27.18em;
    height: 15.62em;
}

.lowdown-text{
    padding: 1.25em;
}

.lowdown-title{
    font-weight: bold;
    color: gray;
    margin: 0.62em 0;
}

.lowdown-subheading{
    color: grey;
    margin-bottom: 1.87em;
}

.lowdown-readmore{
    font-weight:bold;
}

.lowdown-arrows{
    display: flex;
    justify-content: space-between;
    padding: 0 0.62em;
    font-size: 3.1em;
    position: relative;
    top: 200px;
}

#info-articles{
    display: flex;
    margin-top: 6.25em;
}

.info-text{
    text-align: center;
}

.info-blog{
    margin: 0 0.43em;
    background-color: #dfdfdf;
}

.info-title{
    font-size: 1.56em;
    font-weight: bold;
    margin:  1.25em 0;
    color: grey;
}

.info-subheading{
    color: grey;
    margin-bottom: 1.87em;
}

.store-finder{
    margin-top: 3.1em;
}

.info-btn{
    padding: 0.62em 1.87em;
    font-size: 0.9em;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 1.87em;
}

#app-section{
    text-align: center;
    margin-top: 3.1em;
    background-color: #dfdfdf;
}

#app-text{
    padding: 1.87em 0;
}

#app-title{
    margin: 1.87em 0;
    font-size: 2.18em;
    font-weight: bold;
}

#app-subheading{
    color: grey;
}

#app-logos img{
    width: 9.37em;
    height: 3.1em;
    margin: 0 0.62em 1.87em 0.62em;
}

#footer-links-div{
    display: flex;
    justify-content: center;
    margin: 1.25em 0;
}

.footer-icon{
    margin-right: 0.62em;
}

.footer-links{
    padding: 1.87em 3.1em;
    list-style: none;
    font-size: 1.12em;
    display: flex;
    flex-direction: column;
}

.link-title{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1.25em;
}

.links-tag{
    color: grey;
    margin-bottom: 10px;
}

.links-tag:hover{
    text-decoration: underline;
    cursor: pointer;
}

#footer-links-bottom{
    display: flex;
    justify-content: space-between;
    width: 82.5em;
}

#keep-updated-box{
    background-color: #dfdfdf;
    position: relative;
    bottom: 2.5em;
}

#keep-updated-title{
    font-weight: bold;
    margin: 1.25em;
}

#keep-updated-subheading{
    margin: 1.25em;
    font-size: 0.81em;
}

#keep-updated-input{
    margin: 1.25em;
}

#keep-updated-input-box{
    padding: 0.31em;
    font-size: 0.87em;
    border: 0.06em solid grey;
}

#keep-updated-btn{
    padding: 0.31em 0.43em;
    font-size: 0.87em;
    border: 0.06em solid grey;
}

#keep-updated-input-box:focus{
    outline: none;
}

#keep-updated-btn:hover{
    cursor: pointer
}

#payment-methods{
    margin-left: 13.75em;
}

.show{
    animation-name: show;
    animation-duration: 0.5ms;
    animation-fill-mode: forwards;
}

.hide{
    animation-name: hide;
    animation-duration: 0.1ms;
    animation-fill-mode: forwards;
}

footer{
    background-color: #ebebeb;
    color: gray;
}

#copyright-div{
    display: flex;
    font-size: 0.75em;
    padding: 1.25em 0;
}

#copyright-div p{
    margin: 0 1.25em;
}

#copyright-links{
    margin-left: 18.75em;
    display: flex;
    list-style: none;
}

#copyright-links li{
    margin: 0 1.25em;
}

#copyright-links li:hover, #copyright-div p:hover{
    text-decoration: underline;
    cursor: pointer;
}

@keyframes search-button-show {
    0%{
        visibility: collapse;
        width: 0px;
    }
    100%{
        visibility: initial;
        font-size: 1.12em;
        width: 3.1em;
    }
}
@keyframes search-button-hide {
    0%{
        visibility: initial;
        width: 3.1em;
    }
    100%{
        visibility: collapse;
        font-size: 0px;
        width: 0px;
    }
}
@keyframes dropdown-show {
    0%{
        visibility: collapse;
        height: 0px;
    }
    100%{
        visibility: initial;
        height: 500px;
    }
}
@keyframes dropdown-hide {
    0%{
        visibility: initial;
        height: 500px;
    }
    100%{
        visibility: collapse;
        height: 0px;
    }
}

@keyframes show {
    from{visibility: collapse;}    
    to{visibility: initial;}    

}
@keyframes hide {
    from{visibility: initial;}    
    to{visibility: collapse;}    
}

@keyframes arrow-hover {

    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media screen and (max-width: 850px) {
    body{
        width: 820px;
    }
   #header-links{
    font-size: 10px;
    width: 600px;
   }

   #header-links li a{
    margin: 0 0.31em;
   }
   
   #search-box{
    width: 140px;
    margin-left: 10px;
    border: 0.06em solid black; 
   }
   
   #view-basket{
    width: 200px;
    margin-left: 10px;
   }

   #nav-links{
    width: 95%;
    font-size: 14px;
   }

   .dropdown-links li{
    font-size: 10px;
   }

   #just-landed-image, #outlet-image, #men-image, #women-image, #kids-image{
    height: 18.75em;
   }

   #men-image{
    height: 200px;
    width: 200px;
   }

   #sub-nav{
    padding: 20px 5px;
    font-size: 12px;
   }

   #cards-section{
    font-size: 10px;
   }
   .cards img{
    height: 175px;
   }
   #discount-text h1{
    font-size: 1.87em;
   }
   .banner-card img{
    width: 820px;
   }
   .latest-cards{
    width: 175px;
   }
   .latest-cards img{
    width: 150px;
    height: 150px;
    margin-left: 10px;
   }
   .latest-cards-title{
    font-size: 15px;
   }
   .latest-cards p{
    font-size: 12px;
   }
   .latest-cards-btn{
    font-size: 10px;
    padding: 10px 62px;
   }
   #shop-by-brand-list{
    margin-left: 20px;
   }
   #shop-by-brand-list img{
    height: 100px;
   }
   #trending-banner img{
    height: 350px;
   }
   .shop-now-btn{
    font-size: 12px;
   }
   .lowdown-blog img{
    width: 260px;
   } 
  }